<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>robots.txt</title>
    <style>
        body {
            background-color: #121212;
            color: #fff;
            font-family: Arial, sans-serif;
            padding: 20px;
            margin: 0;
        }
        h1 {
            color: #ff4500;
        }
        p {
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
    <p>Ohh so you know some web exploitation.</p>
    <p>Here begins the real challenge: Try  exploiting locations</p>
    <br>
    <br>
    <p>I should properly setup where to put the files but for now I will just set the `location` to be `uploads/` by default. :)</p>
    {% comment %} <p>NO MORE HINTS -.- LOOK FOR SANITIZATION</p> {% endcomment %}
</body>
</html>
